//HEADER
$color-nav-text-logo: #344E71;
$under-line-menu-header: #161624;
$color-text-menu-header: #7B92AF;
$background-text-download: #344E71;
$color-text-download: #fff;
//IMAGE-HEADER-CONTENT
$color-text-header:#fff;
$font-size-text-header:78px;
$color-black-button-down:#161624;
$background-button-down:#fff;
//------------HEART PAGE
//>>>>COLOR
//HEART
$color-text-normal-pchild-heart: #EF6059;
$color-text-menu-pchild-heart: #BA332C;
$color-background-menu-pchild-heart: #F8EAEA;
//ASSEMBLE
$color-text-normal-pchild-asse: #FFD41D;
$color-text-menu-pchild-asse: #F7C800;
$color-background-menu-pchild-asse: #FFF8DC;
//TEST
$color-text-normal-pchild-test: #5DC9AC;
$color-text-menu-pchild-test: #25AD89;
$color-background-menu-pchild-test: #DEF4EE;
//COMMUNICATE
$color-text-normal-pchild-com: #FFB053;
$color-text-menu-pchild-com: #F7921B;
$color-background-menu-pchild-com: #FFE9D0;
//HUSTLE
$color-text-normal-pchild-hus: #95B3FF;
$color-text-menu-pchild-hus: #789BF4;
$color-background-menu-pchild-hus: #E9EFFF;
//HATCH-IT
$color-text-normal-pchild-hatch: #FFA2DC;
$color-text-menu-pchild-hatch: #F552B8;
$color-background-menu-pchild-hatch: #FFECF7;
//TECHNICALITIES
$color-text-normal-pchild-tech: #BD8DFF;
$color-text-menu-pchild-tech: #9C61ED;
$color-background-menu-pchild-tech: #F1E7FF;
//RESOURCES
$color-text-normal-pchild-res: #4EDE49;
$color-text-menu-pchild-res: #34D62F;
$color-background-menu-pchild-res: #E2FFE1;
//>>>>FONT-SIZE
//---title
$font-size-60-pchild: 60px;
$font-size-30-pchild: 30px;
//------menu
$font-size-18-pchild: 18px;
//---content
$font-size-25-pchild: 25px;
$font-size-16-pchild: 16px;
$font-size-14-pchild: 14px;
//----menu child
$font-size-26-pchild: 26px;
//------------END HEART PAGE