@import "../../helper/mixin";
@import "../../helper/variable";
@import "../../helper/placehold";
.fix-color-asse-2 {
    .content-sub {
        >p:first-child {
            color: $color-text-normal-pchild-asse !important;
        }
        .contain-text-chap-2 {
            div {
                 :first-child {
                    border-bottom: 2px solid $color-text-menu-pchild-asse !important;
                    color: $color-text-normal-pchild-asse !important;
                }
            }
        }
        .color-content {
            background: $color-text-menu-pchild-asse !important;
        }
        .image-child-2 {
            background: $color-text-menu-pchild-asse !important;
        }
    }
}