@import "../../helper/mixin";
@import "../../helper/variable";
@import "../../helper/placehold";
.image-title-hus {
    .title-img-text {
        div {
            p:first-child {
                color: $color-text-normal-pchild-hus !important;
            }
            p:last-child {
                color: $color-text-normal-pchild-hus !important;
            }
        }
    }
}